usr_subscription_id = "your-subscription-id"
usr_tenant_id         = "your-tenant-id"
usr_client_id         = "your-client-id"
usr_client_secret     = "your-client-secret"

env = "npe"

linux_appservice = {
  "myapp-web-dev" = {
    usr_resource_group_name   = "myapp-rg-dev"
    usr_app_service_plan_name = "myapp-web-dev-plan"
    usr_app_name              = "myapp-web-dev"
    usr_location              = "East US"
    usr_app_service_plan_sku  = "B1"
    usr_container_image       = "nginx"
    usr_container_port        = 80
  }
}
